<a href="https://colab.research.google.com/github/Hubert26/suicides_IPPAN/blob/main/suicides.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Liblaries and settings

In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

#Ustawienie braku maksymalnej ilości wyświetlanych kolumn
pd.options.display.max_columns = None

np.random.seed(42)

#Function definitions

#Data exploration

In [2]:
df_raw = pd.read_csv('https://raw.githubusercontent.com/Hubert26/suicides_IPPAN/main/data/Suicides_2013-2022.csv', delimiter=',', low_memory=False)

In [3]:
df_raw

,suicide_id,report_date_month,report_date_year,age_group,gender,marital_status,education,work_study_info,livelihood_source,is_fatal,location_of_attack,method_of_committing,reason_of_attack,reason_of_attack_2,reason_of_attack_3,reason_of_attack_4,consciousness_state,substance_info,treatment_info
0,114 581 552,2013,1,0,2,0,0,0,0,0,0,0,0,NaN,NaN,NaN,0,0,0
1,114 584 284,2013,1,2,2,0,0,1,0,1,1,1,0,NaN,NaN,NaN,0,0,0
2,114 584 293,2013,1,2,1,1,2,1,1,1,15,2,0,NaN,NaN,NaN,0,0,0
3,114 584 312,2013,1,3,2,1,0,0,0,1,0,18,1,NaN,NaN,NaN,0,0,0
4,114 584 399,2013,1,7,2,1,0,9,0,1,2,3,0,NaN,NaN,NaN,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113191,138 436 326,2022,12,9,2,3,0,8,4,1,6,10,3,NaN,NaN,NaN,0,0,0
113192,138 525 190,2022,8,9,2,5,4,9,4,2,15,6,18,NaN,NaN,NaN,2,1,0
113193,138 525 191,2022,11,7,2,1,0,8,4,2,3,11,1,NaN,NaN,NaN,2,1,0
113194,138 530 178,2022,11,8,2,0,0,0,0,2,14,17,0,NaN,NaN,NaN,0,0,0
113195,138 558 215,2022,12,12,2,0,0,0,0,1,3,17,0,NaN,NaN,NaN,0,0,0

In [27]:
df_new = df_raw.copy()

In [10]:
df_new['suicide_id'].dtype

dtype('O')

In [11]:
df_new['suicide_id'] = df_new['suicide_id'].astype(str)

In [28]:
age_groups = [
    "7-12",
    "13-18",
    "19-24",
    "25-29",
    "30-34",
    "35-39",
    "40-44",
    "45-49",
    "50-54",
    "55-59",
    "60-64",
    "65-69",
    "70-74",
    "75-79",
    "80-84",
    "85+"
]

In [31]:
for i, age_group in enumerate(age_groups, start=1):
    df_new['age_group'] = df_new['age_group'].replace(i, age_group)

df_new['age_group'] = df_new['age_group'].replace(0, np.NaN)

In [34]:
df_new['gender'] = df_new['gender'].replace(0, np.NaN)
df_new['gender'] = df_new['gender'].replace(1, "female")
df_new['gender'] = df_new['gender'].replace(2, "male")

In [36]:
marital_status_map = {
    1: "Single",
    2: "In a relationship",
    3: "Married",
    4: "Separated",
    5: "Divorced",
    6: "Widowed"
}

# Zastąpienie wartości w kolumnie 'stan_cywilny' za pomocą słownika
df_new['marital_status'] = df_new['marital_status'].replace(marital_status_map)

In [ ]:
df_new['gender'] = df_new['gender'].replace(0, np.NaN)
df_new['gender'] = df_new['gender'].replace(1, "female")
df_new['gender'] = df_new['gender'].replace(2, "male")

In [39]:
education_level_map = {
    0: np.nan,
    1: "Incomplete primary education",
    2: "Primary education",
    3: "Lower secondary education",
    4: "Vocational education",
    5: "Secondary education",
    6: "Post-secondary non-tertiary education",
    7: "Tertiary education"
}

# Zastąpienie wartości w kolumnie 'poziom_wyksztalcenia' za pomocą słownika
df_new['education'] = df_new['education'].replace(education_level_map)

In [41]:
# Słownik mapujący wartości numeryczne na odpowiadające im opisy w języku angielskim
employment_status_map = {
    0: np.nan,
    1: "Student",
    2: "College student",
    3: "White-collar worker",
    4: "Blue-collar worker",
    5: "Farmer",
    6: "Self-employed",
    7: "Full-time employment",
    8: "Part-time employment",
    9: "Unemployed"
}

# Zastąpienie wartości w kolumnie 'status_zawodowy' za pomocą słownika
df_new['work_study_info'] = df_new['work_study_info'].replace(employment_status_map)

In [42]:
df_new

,suicide_id,report_date_month,report_date_year,age_group,gender,marital_status,education,work_study_info,livelihood_source,is_fatal,location_of_attack,method_of_committing,reason_of_attack,reason_of_attack_2,reason_of_attack_3,reason_of_attack_4,consciousness_state,substance_info,treatment_info
0,114 581 552,2013,1,NaN,male,0,NaN,NaN,0,0,0,0,0,NaN,NaN,NaN,0,0,0
1,114 584 284,2013,1,13-18,male,0,NaN,Student,0,1,1,1,0,NaN,NaN,NaN,0,0,0
2,114 584 293,2013,1,13-18,female,Single,Primary education,Student,1,1,15,2,0,NaN,NaN,NaN,0,0,0
3,114 584 312,2013,1,19-24,male,Single,NaN,NaN,0,1,0,18,1,NaN,NaN,NaN,0,0,0
4,114 584 399,2013,1,40-44,male,Single,NaN,Unemployed,0,1,2,3,0,NaN,NaN,NaN,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113191,138 436 326,2022,12,50-54,male,Married,NaN,Part-time employment,4,1,6,10,3,NaN,NaN,NaN,0,0,0
113192,138 525 190,2022,8,50-54,male,Divorced,Vocational education,Unemployed,4,2,15,6,18,NaN,NaN,NaN,2,1,0
113193,138 525 191,2022,11,40-44,male,Single,NaN,Part-time employment,4,2,3,11,1,NaN,NaN,NaN,2,1,0
113194,138 530 178,2022,11,45-49,male,0,NaN,NaN,0,2,14,17,0,NaN,NaN,NaN,0,0,0
113195,138 558 215,2022,12,65-69,male,0,NaN,NaN,0,1,3,17,0,NaN,NaN,NaN,0,0,0