<a href="https://colab.research.google.com/github/Hubert26/suicides_IPPAN/blob/main/suicides.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Liblaries and settings

In [43]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

#Ustawienie braku maksymalnej ilości wyświetlanych kolumn
pd.options.display.max_columns = None

np.random.seed(42)

#Function definitions

#Data exploration

In [44]:
df_raw = pd.read_csv('https://raw.githubusercontent.com/Hubert26/suicides_IPPAN/main/data/new_Suicides_2013-2022.csv', delimiter=',', low_memory=False)

In [45]:
df_raw

,suicide_id,report_date_year,report_date_month,age_group,gender,marital_status,education,work_study_info,livelihood_source,is_fatal,location_of_attack,method_of_committing,reason_of_attack,reason_of_attack_2,reason_of_attack_3,reason_of_attack_4,consciousness_state,substance_info,treatment_info
0,114 581 552,2013,1,NaN,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,114 584 284,2013,1,13-18,male,NaN,NaN,Student,NaN,1.0,Road/street/sidewalk,Throwing oneself under a moving vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,114 584 293,2013,1,13-18,female,Single,Primary education,Student,Dependent on another person,1.0,Other,Jumping from a height,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,114 584 312,2013,1,19-24,male,Single,NaN,NaN,NaN,1.0,NaN,Other,Love affair,NaN,NaN,NaN,NaN,NaN,NaN
4,114 584 399,2013,1,40-44,male,Single,NaN,Unemployed,NaN,1.0,Outbuildings,Hanging,NaN,NaN,NaN,NaN,Under the influence of alcohol,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113191,138 436 326,2022,12,50-54,male,Married,NaN,Part-time employment,No regular source of maintenance,1.0,"Basement, attic, garage corridor",Gas/pollutant poisoning,Family misunderstanding/family violence,NaN,NaN,NaN,NaN,NaN,NaN
113192,138 525 190,2022,8,50-54,male,Divorced,Vocational education,Unemployed,No regular source of maintenance,0.0,Other,Superficial self-mutilation,Other unspecified,NaN,NaN,NaN,Under the influence of alcohol,Alcohol abuse,NaN
113193,138 525 191,2022,11,40-44,male,Single,NaN,Part-time employment,No regular source of maintenance,0.0,Apartment/house,Ingesting other drugs,Love affair,NaN,NaN,NaN,Under the influence of alcohol,Alcohol abuse,NaN
113194,138 530 178,2022,11,45-49,male,NaN,NaN,NaN,NaN,0.0,Police facility,Strangulation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113195,138 558 215,2022,12,65-69,male,NaN,NaN,NaN,NaN,1.0,Apartment/house,Strangulation,NaN,NaN,NaN,NaN,NaN,NaN,NaN